<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-4.2.xsd
">
    <context:annotation-config />
    <context:component-scan base-package="sg.com.agoda.downloader"/>
    
    <bean id="downloadJobExecutor"
          class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="1" />
        <property name="maxPoolSize" value="5" />
        <property name="WaitForTasksToCompleteOnShutdown" value="true" />
    </bean>
    
    <bean id="downloadController" class="sg.com.agoda.downloader.controller.DownloadController" scope="prototype">
        <constructor-arg name="maxDownload" value="5"/>
        <property name="downloadJobExecutor" ref="downloadJobExecutor"/>
    </bean>
     
</beans>